/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}
@font-face {
    font-family: "lora"; 
    src: url("fonts/lora/Lora-VariableFont_wght.ttf") format("truetype"); 
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

p, a, li {
    font-family: lora;
    line-height: 1.5em;
    font-size: 1.1em;
}
h2, h1 {
    font-family: lora; 
}
section ul {
    display: none;
}
section:hover ul {
display:block
}
.nav {
    display:flex;
    justify-content: space-evenly;
    }

@media only screen and (max-width: 1000px) {
      
    }

    section {
        width: calc(50% - 20px);
    }


@media only screen and (max-width: 400px) {
    .nav {
display:flex;
grid-auto-rows: auto;
width: 100%;


    }
       
}