body {
    margin: 0;
}
@keyframes mountain {
    0% {
        filter: saturate();
        filter: contrast();
    }
    100% {
        filter: saturate(100%);
        filter: contrast(1000%);
    }
}

main {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#mountains {
    position: absolute;
    width: 100vw;
    bottom: 0vh;
    left: 0;
    z-index: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards; 
    animation-name: mountain;
    animation-delay: 0s;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
}

#sun {
    position: absolute;
    color: #FF3300;
    bottom: -10vh;
    width: 10vw;
    font-size: 2px;

      animation-timing-function: linear;
    animation-fill-mode: forwards; 
    animation-name: sunrise;
    animation-delay: 0s;
    animation-duration: 1s; 
    animation-iteration-count: infinite; 
}

 @keyframes sunrise {
    0% { 
        transform: translate(0, 0);
        color: #FF3300;
        font-size: 200px;
        filter: brightness();
    }
    50% { 
        transform: translate(0, -70vh); 
        color: yellow;
        font-size: 100px;
        filter: blur(20);
    }
    
    100% { 
        transform: translate(0, 0); 
        color: yellow;
        font-size: 100px;
        filter: blur();
    }

} 

#cloud1 {
    position: absolute;
    color: chocolate;
    top: 0px;
    left: 0px;
    font-size: 60px;
    
    /* Start by positioning the cloud to the left by 30vw */
     transform: translate(-30vw, 0); 


     animation-timing-function: linear;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
    animation-name: moveCloudHorizontally;
    animation-delay: 0s;
    animation-duration: 3s; 
}

#cloud2 {
    position: absolute;
    color: chartreuse;
    top: 0px;
    left: 0px;
    transform: translate(-30vw, 0);
    font-size: 100px;

    animation-timing-function: linear;
    animation-iteration-count: infinite; 
    animation-direction: alternate-reverse; /* back and forth*/
    animation-name: moveCloudHorizontally;
    animation-delay: 0s;
    animation-duration: 2s;
}







 @keyframes moveCloudHorizontally {
    0% { 
        transform: translate(-30vw, 0);
        opacity: ();
    }
    50% {
        opacity: 0%;
    }
    100% { 
        transform: translate(110vw, 0); 
        opacity: ;
    }
} 


